/* genral */

/* nav */

nav 
{
    border: solid black 1px;
    text-decoration: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav ul
{
  display: flex;
}
nav li
{
  margin-right: 25px;  
}
nav img
{
    display: inline-block;
    vertical-align: 50px;
}

/* video */

/* link of small video */
